.body {
  min-height: 100vh;
  background: #333;
  color: #ddd;
}

.site-title {
  margin: auto;
  text-align: center;
}

.main-img {
  display: block;
  max-height: 70vh;
  max-width: 75vw;
  margin: 2rem auto;
}
